* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &::after,
  &::before {
    box-sizing: border-box;
  }
}

html {
  width: 100%;
  height: 100%;
}

body {
  font: $font-size-l $font-family;
  color: $text-color;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  background-color: $bg-color;
  @media (max-width: 942px) {
    font-size: $font-size-m;
  }
  @media (max-width: 642px) {
    font-size: $font-size-s;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Open Sans', sans-serif;
}

h1 {
  font-size: 250%;
  margin: $spacing-xs 0;
}

h2 {
  font-size: 180%;
  font-style: italic;
  margin: $spacing-s 0 $spacing-xs;
}

h3 {
  font-size: 150%;
  font-weight: lighter;
  margin: $spacing-sm 0 $spacing-xs;
}

h4 {
  font-size: 80%;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin: $spacing-l 0 $spacing-xs;
  color: lighten($text-color, 40%);
}

h5 {
  @extend h4;
  text-align: center;
}

h6 {
  @extend h4;
  text-align: right;
}

p {
  margin: 1.3em 0;
  line-height: 1.6;
}

code {
  background-color: lightgrey;
  border-color: grey;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  padding: 0 5px;
}

pre {
  font-size: 0.8em;

  code {
    background-color: transparent;
    border: none;
    padding: 0;
  }
}

small {
  font-size: 60%;
}

ul li { list-style-type: circle; }
ol li { list-style-type: decimal; }

a {
  color: $link-color;
  position: relative;
  text-decoration: none;
  transition-duration: 0.1s;
  transition-property: color;

  &:after {
    background-color: $main-color;
    bottom: 0;
    content: '';
    display: block;
    height: 1px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    transition-duration: 0.2s;
    transition-property: background-color, width;
    width: 0;
  }

  &:hover {
    color: $text-color;

    &:after {
      background-color: $text-color;
      width: 100%;
    }
  }
}

@media (min-width: 1000px) {
  figure.pull-left {
    clear: both;
    float: left;
    margin-left: -150px;
    margin-right: 30px;
    padding-bottom: 50px;
    padding-top: 10px;
    width: 75%;
  }
}

figcaption {
  font-size: 0.7em;
  font-style: italic;
  margin-top: 10px;
  text-align: center;
}

.full-width {
  left: 50%;
  position: relative;
  transform: translateX(-50%);
  width: 100vw !important;
}
